packages/n8n-nodes/workflows/build-pipeline.json
{
  "name": "GSD Build Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "build-pipeline",
        "responseMode": "lastNode"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "build-pipeline"
    },
    {
      "parameters": {
        "buildId": "={{ $json.body.buildId }}",
        "prdJson": "={{ $json.body.prdJson }}"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "BMAD Validator",
      "type": "n8n-nodes-mismo.bmadValidator",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "parsePrd",
        "buildId": "={{ $node[\"Webhook Trigger\"].json.body.buildId }}",
        "prdJson": "={{ $node[\"Webhook Trigger\"].json.body.prdJson }}"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "GSD Dependency Checker",
      "type": "n8n-nodes-mismo.gsdDependencyChecker",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "serviceUrl": "http://db-architect:3001/generate",
        "requestBody": "={{ JSON.stringify({ dataContracts: $node[\"Webhook Trigger\"].json.body.prdJson.dataContracts, dataBoundaries: $node[\"Webhook Trigger\"].json.body.prdJson.dataBoundaries }) }}",
        "buildId": "={{ $node[\"Webhook Trigger\"].json.body.buildId }}",
        "httpMethod": "POST",
        "maxRetries": 3,
        "initialBackoffMs": 1000
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "DB Architect Retry",
      "type": "n8n-nodes-mismo.gsdRetryWrapper",
      "typeVersion": 1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "operation": "checkApi",
        "buildId": "={{ $node[\"Webhook Trigger\"].json.body.buildId }}",
        "apiContracts": "={{ $node[\"Webhook Trigger\"].json.body.prdJson.dataContracts }}",
        "implementedRoutes": "={{ $json.result }}"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "API Contract Check (DB)",
      "type": "n8n-nodes-mismo.contractChecker",
      "typeVersion": 1,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "serviceUrl": "http://backend-engineer:3002/generate",
        "requestBody": "={{ JSON.stringify({ dbSchema: $node[\"DB Architect Retry\"].json.result, apiContracts: $node[\"Webhook Trigger\"].json.body.prdJson.apiContracts }) }}",
        "buildId": "={{ $node[\"Webhook Trigger\"].json.body.buildId }}",
        "httpMethod": "POST",
        "maxRetries": 3,
        "initialBackoffMs": 1000
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Backend Engineer Retry",
      "type": "n8n-nodes-mismo.gsdRetryWrapper",
      "typeVersion": 1,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "operation": "checkApi",
        "buildId": "={{ $node[\"Webhook Trigger\"].json.body.buildId }}",
        "apiContracts": "={{ $node[\"Webhook Trigger\"].json.body.prdJson.apiContracts }}",
        "implementedRoutes": "={{ $json.result }}"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "API Contract Check (Backend)",
      "type": "n8n-nodes-mismo.contractChecker",
      "typeVersion": 1,
      "position": [1700, 200]
    },
    {
      "parameters": {
        "serviceUrl": "http://frontend-developer:3003/generate",
        "requestBody": "={{ JSON.stringify({ designDna: $node[\"Webhook Trigger\"].json.body.prdJson.designDna, contentJson: $node[\"Webhook Trigger\"].json.body.prdJson.contentJson, backendTypes: $node[\"Backend Engineer Retry\"].json.result.types }) }}",
        "buildId": "={{ $node[\"Webhook Trigger\"].json.body.buildId }}",
        "httpMethod": "POST",
        "maxRetries": 3,
        "initialBackoffMs": 1000
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Frontend Developer Retry",
      "type": "n8n-nodes-mismo.gsdRetryWrapper",
      "typeVersion": 1,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "operation": "checkTypes",
        "buildId": "={{ $node[\"Webhook Trigger\"].json.body.buildId }}",
        "frontendCode": "={{ $json.result }}",
        "zodSchemas": "={{ $node[\"Backend Engineer Retry\"].json.result.zodSchemas }}"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Type Safety Check",
      "type": "n8n-nodes-mismo.contractChecker",
      "typeVersion": 1,
      "position": [2300, 200]
    },
    {
      "parameters": {
        "serviceUrl": "http://devops-agent:3004/generate",
        "requestBody": "={{ JSON.stringify({ hostingConfig: $node[\"Webhook Trigger\"].json.body.prdJson.hostingConfig, envRequirements: $node[\"Webhook Trigger\"].json.body.prdJson.envRequirements }) }}",
        "buildId": "={{ $node[\"Webhook Trigger\"].json.body.buildId }}",
        "httpMethod": "POST",
        "maxRetries": 3,
        "initialBackoffMs": 1000
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "DevOps Retry",
      "type": "n8n-nodes-mismo.gsdRetryWrapper",
      "typeVersion": 1,
      "position": [800, 500]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "waitAll",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [2600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Webhook Trigger\"].json.body.acceptanceTestUrl || 'http://localhost:4000/api/acceptance-test' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "buildId",
              "value": "={{ $node[\"Webhook Trigger\"].json.body.buildId }}"
            },
            {
              "name": "dbOutput",
              "value": "={{ $node[\"DB Architect Retry\"].json.result }}"
            },
            {
              "name": "backendOutput",
              "value": "={{ $node[\"Backend Engineer Retry\"].json.result }}"
            },
            {
              "name": "frontendOutput",
              "value": "={{ $node[\"Frontend Developer Retry\"].json.result }}"
            },
            {
              "name": "devopsOutput",
              "value": "={{ $node[\"DevOps Retry\"].json.result }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000012",
      "name": "Final Validation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.passed }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000013",
      "name": "All Validations Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3200, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "SUCCESS"
            },
            {
              "name": "buildId",
              "value": "={{ $node[\"Webhook Trigger\"].json.body.buildId }}"
            },
            {
              "name": "message",
              "value": "Build pipeline completed successfully. All agents executed and validations passed."
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000014",
      "name": "Set Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [3500, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "FAILED"
            },
            {
              "name": "buildId",
              "value": "={{ $node[\"Webhook Trigger\"].json.body.buildId }}"
            },
            {
              "name": "message",
              "value": "Build pipeline failed acceptance testing."
            },
            {
              "name": "errorDetails",
              "value": "={{ JSON.stringify($node[\"Final Validation\"].json.errors || $node[\"Final Validation\"].json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000015",
      "name": "Set Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [3500, 450]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "BMAD Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BMAD Validator": {
      "main": [
        [
          {
            "node": "GSD Dependency Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSD Dependency Checker": {
      "main": [
        [
          {
            "node": "DB Architect Retry",
            "type": "main",
            "index": 0
          },
          {
            "node": "DevOps Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Architect Retry": {
      "main": [
        [
          {
            "node": "API Contract Check (DB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Contract Check (DB)": {
      "main": [
        [
          {
            "node": "Backend Engineer Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Engineer Retry": {
      "main": [
        [
          {
            "node": "API Contract Check (Backend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Contract Check (Backend)": {
      "main": [
        [
          {
            "node": "Frontend Developer Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frontend Developer Retry": {
      "main": [
        [
          {
            "node": "Type Safety Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type Safety Check": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DevOps Retry": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Final Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Validation": {
      "main": [
        [
          {
            "node": "All Validations Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Validations Passed?": {
      "main": [
        [
          {
            "node": "Set Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "active": false
}
