packages/n8n-nodes/workflows/hosting-monitor.json
{
  "name": "Hosting Transfer Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.NEXT_PUBLIC_APP_URL || 'http://localhost:3000' }}/api/delivery/monitors/active",
        "options": {
          "timeout": 10000
        }
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000002",
      "name": "Fetch Active Monitors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [250, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000003",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.deploymentUrl }}",
        "options": {
          "timeout": 10000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          }
        },
        "onError": "continueErrorOutput"
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000004",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-healthy",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000005",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_ALERT_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=:rotating_light: *Hosting Monitor Alert*\n*Transfer:* {{ $node['Split In Batches'].json.id }}\n*URL:* {{ $node['Split In Batches'].json.deploymentUrl }}\n*Status:* {{ $json.statusCode || 'Unreachable' }}\n*Provider:* {{ $node['Split In Batches'].json.provider }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000006",
      "name": "Send Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 450]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.NEXT_PUBLIC_APP_URL || 'http://localhost:3000' }}/api/delivery/deploy/{{ $node['Split In Batches'].json.id }}/status",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "healthStatus",
              "value": "={{ JSON.stringify({ status: $json.statusCode === 200 ? 'healthy' : 'down', statusCode: $json.statusCode, checkedAt: new Date().toISOString() }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000007",
      "name": "Update Health Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-monitors",
              "name": "monitors",
              "value": "={{ $json.monitors }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000008",
      "name": "Extract Monitors",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [250, 500]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Active Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Monitors": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Is Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Healthy?": {
      "main": [
        [
          {
            "node": "Update Health Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert": {
      "main": [
        [
          {
            "node": "Update Health Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
