packages/n8n-nodes/workflows/repo-surgery-pipeline.json
{
  "name": "Repo Surgery Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "repo-surgery-pipeline",
        "responseMode": "lastNode"
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "repo-surgery-pipeline"
    },
    {
      "parameters": {
        "repoUrl": "={{ $json.body.repoUrl }}",
        "branch": "={{ $json.body.branch }}",
        "surgeryId": "={{ $json.body.surgeryId }}"
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000002",
      "name": "Repo Ingestion",
      "type": "n8n-nodes-mismo.repoIngestion",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "cloneDir": "={{ $json.cloneDir }}",
        "astData": "={{ JSON.stringify($json.astData) }}",
        "surgeryId": "={{ $node[\"Webhook Trigger\"].json.body.surgeryId }}"
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000003",
      "name": "Code Vectorizer",
      "type": "n8n-nodes-mismo.codeVectorizer",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "collectionName": "={{ $json.collectionName }}",
        "cloneDir": "={{ $node[\"Repo Ingestion\"].json.cloneDir }}",
        "astData": "={{ JSON.stringify($node[\"Repo Ingestion\"].json.astData) }}"
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000004",
      "name": "Boundary Mapper",
      "type": "n8n-nodes-mismo.boundaryMapper",
      "typeVersion": 1,
      "position": [750, 200]
    },
    {
      "parameters": {
        "collectionName": "={{ $json.collectionName }}",
        "cloneDir": "={{ $node[\"Repo Ingestion\"].json.cloneDir }}",
        "astData": "={{ JSON.stringify($node[\"Repo Ingestion\"].json.astData) }}"
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000005",
      "name": "Contract Extractor",
      "type": "n8n-nodes-mismo.contractExtractor",
      "typeVersion": 1,
      "position": [750, 400]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "waitAll",
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000006",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "boundaryMap": "={{ JSON.stringify($json[0].boundaryMap) }}",
        "contracts": "={{ JSON.stringify($json[1].contracts) }}",
        "changeRequest": "={{ $node[\"Webhook Trigger\"].json.body.changeRequest }}",
        "forbiddenFiles": "={{ JSON.stringify($node[\"Webhook Trigger\"].json.body.forbiddenFiles) }}",
        "cloneDir": "={{ $node[\"Repo Ingestion\"].json.cloneDir }}"
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000007",
      "name": "Impact Analysis",
      "type": "n8n-nodes-mismo.impactAnalysis",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "impactReport": "={{ JSON.stringify($json.impactReport) }}",
        "cloneDir": "={{ $node[\"Repo Ingestion\"].json.cloneDir }}",
        "changeRequest": "={{ $node[\"Webhook Trigger\"].json.body.changeRequest }}"
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000008",
      "name": "Diff Generator",
      "type": "n8n-nodes-mismo.diffGenerator",
      "typeVersion": 1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "gate": "all",
        "diffs": "={{ JSON.stringify($json.diffs) }}",
        "contracts": "={{ JSON.stringify($node[\"Contract Extractor\"].json.contracts) }}",
        "boundaryMap": "={{ JSON.stringify($node[\"Boundary Mapper\"].json.boundaryMap) }}",
        "forbiddenFiles": "={{ JSON.stringify($node[\"Webhook Trigger\"].json.body.forbiddenFiles) }}"
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000009",
      "name": "Validation Gate",
      "type": "n8n-nodes-mismo.validationGate",
      "typeVersion": 1,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.allPassed }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000010",
      "name": "All Gates Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "surgeryId": "={{ $node[\"Webhook Trigger\"].json.body.surgeryId }}",
        "commissionId": "={{ $node[\"Webhook Trigger\"].json.body.commissionId }}",
        "repoUrl": "={{ $node[\"Webhook Trigger\"].json.body.repoUrl }}",
        "branch": "={{ $node[\"Webhook Trigger\"].json.body.branch }}",
        "diffs": "={{ JSON.stringify($node[\"Diff Generator\"].json.diffs) }}",
        "validationResults": "={{ JSON.stringify($node[\"Validation Gate\"].json.results) }}"
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000011",
      "name": "Review Generator",
      "type": "n8n-nodes-mismo.reviewGenerator",
      "typeVersion": 1,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "SUCCESS"
            },
            {
              "name": "surgeryId",
              "value": "={{ $node[\"Webhook Trigger\"].json.body.surgeryId }}"
            },
            {
              "name": "message",
              "value": "Repo surgery pipeline completed successfully. All gates passed and PR created."
            },
            {
              "name": "prUrl",
              "value": "={{ $json.prUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000012",
      "name": "Set Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [2500, 200]
    },
    {
      "parameters": {
        "url": "={{ process.env.ERROR_LOGGER_URL }}",
        "surgeryId": "={{ $node[\"Webhook Trigger\"].json.body.surgeryId }}",
        "commissionId": "={{ $node[\"Webhook Trigger\"].json.body.commissionId }}",
        "error": "={{ JSON.stringify($node[\"Validation Gate\"].json.results) }}",
        "stage": "validation-gate"
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000013",
      "name": "Error Logger",
      "type": "n8n-nodes-mismo.errorLogger",
      "typeVersion": 1,
      "position": [2250, 450]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "FAILED"
            },
            {
              "name": "surgeryId",
              "value": "={{ $node[\"Webhook Trigger\"].json.body.surgeryId }}"
            },
            {
              "name": "message",
              "value": "Repo surgery pipeline failed validation gates."
            },
            {
              "name": "errorDetails",
              "value": "={{ JSON.stringify($node[\"Validation Gate\"].json.results || $node[\"Validation Gate\"].json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000014",
      "name": "Set Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [2500, 450]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Repo Ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repo Ingestion": {
      "main": [
        [
          {
            "node": "Code Vectorizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Vectorizer": {
      "main": [
        [
          {
            "node": "Boundary Mapper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Contract Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boundary Mapper": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract Extractor": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Impact Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Impact Analysis": {
      "main": [
        [
          {
            "node": "Diff Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diff Generator": {
      "main": [
        [
          {
            "node": "Validation Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Gate": {
      "main": [
        [
          {
            "node": "All Gates Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Gates Passed?": {
      "main": [
        [
          {
            "node": "Review Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Generator": {
      "main": [
        [
          {
            "node": "Set Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Logger": {
      "main": [
        [
          {
            "node": "Set Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "active": false
}
